@model ArticleFormModel
@{
    ViewBag.Title = "Edit Article";
}

<h2 class="text-center">@ViewBag.Title</h2>

<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div style="text-align:right;">
            <a id="cancelButton" class="btn btn-warning mb-2 p-1 fw-bold float-right">Cancel</a>
        </div>
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label-add-edit">Article Name</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ArticleNumber" class="form-label-add-edit">Article Number</label>
                <input asp-for="@Model.ArticleNumber" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.ArticleNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label-add-edit">Type of article</label>
                <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                    @foreach (var type in Model.Categories)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label-add-edit">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" onblur="roundToTwoDecimalPlaces(this)" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.SupplierId" class="form-label-add-edit">Suppliers</label>
                <select asp-for="@Model.SupplierId" class="form-control" aria-required="true">
                    @foreach (var type in Model.Suppliers)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Qantity" class="form-label-add-edit">Qantity</label>
                <input asp-for="@Model.Qantity" class="form-control" />
                <span asp-validation-for="@Model.Qantity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function roundToTwoDecimalPlaces(input) {
            var value = parseFloat(input.value.replace(/\s+/g, '').replace(",", "."));
            if (!isNaN(value)) {
                input.value = value.toFixed(2);
            }
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let currentUrl = window.location.href;
            let lastSlashIndex = currentUrl.lastIndexOf('/');
            let articleId = currentUrl.substring(lastSlashIndex + 1);
            let cancelButton = document.getElementById('cancelButton');
            cancelButton.href = '/Article/Details/' + articleId;
        });
    </script>

}






