@model ArticleAllViewModel

<div id="card-container" class="card col-8" style="width: 50rem;">
    <table style="width: 100%; table-layout: fixed;" class="card-body">
        <tr class="m">
            <td style="width: 25%;"><h5 id="card-element" class="card-title mt-1">@Model.Title</h5></td>
            <td style="width: 25%;"><p id="card-element" class="mb-0"><span class="fw-bold"></span>@Model.Category</p></td>
            <td style="width: 15%;"><p id="card-element" class="mb-0"><span class="fw-bold">Q: </span>@Model.Quantity</p></td>
            <td style="width: 25%;"><p id="card-element" class="mb-0"><span class="fw-bold">Price: </span>@Model.Price</p></td>
            <td style="width: 10%;"><a asp-controller="Article" asp-action="Details" asp-route-id="@Model.Id" id="button-details" class="btn btn-warning mb-1 w-80 p-1 fw-bold">Details</a></td>
        </tr>        
    </table>    
</div>
